/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    color: white;
    height: 70px;
}


ul{
    list-style-type: none;
    
}

li{
    padding: 1.7rem 0.3rem;
    
}


.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}


.conteiner{
    width: 73%;
    border: solid black;
    margin: 0 auto;
    height: 100%;
}

div.logo img{
    height: 1.5rem;
}

i{
    padding: 1.7rem 0.3rem;
}

main > div.contenitore-prodotti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

main article.card{
    /* height: 500px; */
    width: calc(100% / 3);
}

article.card div.conteiner-img


div.conteiner-img img{
    width: 100%;
}


