/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.box{
    width: 1000px;
}

.terzina-header{
    width: calc(100% / 3);
    border: solid black;
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.img-modello{
    width: calc(100% / 3);
    background-color: #e4e4e4;

}

header{
    background-color: #ff6900;
    color: white;
    height: 70px;
}

ul{
    list-style-type: none;
    
}

li{
    padding: 1.7rem 0.3rem;
    
}

span img{
    width: max-content;
    height: 40%;
}

i{
    padding: 1.7rem 0.3rem;
}